@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<!-- ========= //End Our SKILLS ========= -->
<!-- ============== Start client section ============== -->
<section id="our-clients" class="mtb100">
    <br />

    <div class="container">
        <img src="~/Content/img/logo/PERSONAjpg_01.jpg" class="img-responsive" />
        <br />

        <div class="row text-center">
            <div>
                <img src="~/Content/img/logo/PERSONAjpg_02.jpg" class="img-responsive" />
            </div>
            <div id="overlay">
                <div class="col-xs-3"><a href="/Account/Register" class="btn btn-default">Register</a>
</div>
                <div class="col-xs-3"><img src="~/Content/img/touch_id-250x390.jpg" alt="fingerprint" class="img-thumbnail" /></div>
                <div class="col-xs-6"><a href="/Account/Login" class="btn btn-default">Login</a>
</div>
            </div>
        </div> <!-- //row -->
    </div> <!-- //container -->
</section>


