@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<!-- ========= //End Our SKILLS ========= -->
<!-- ============== Start client section ============== -->
<section id="our-clients" class="mtb100">
    <br />

    <div class="container">
        <img src="~/Content/img/logo/PERSONAjpg_01.jpg" class="img-responsive" />
    <br />
        
        <div class="row text-center">
            <div >
            <img src="~/Content/img/logo/PERSONAjpg_02.jpg"  class="img-responsive"/>
            </div>
        </div> <!-- //row -->
    </div> <!-- //container -->
</section>



