
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Persona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Digital Safety Deposit Box">
    <meta name="author" content="Mi Dinero mi futro con Sabio.la">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/favicons/personaFavicon.ico">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">

    <!-- CSS -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    
    <link rel="stylesheet" href="~/css/main.css">
    @RenderSection("Style", false);
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- Header scripts -->

    <script src="~/Scripts/js/queryloader2.min.js"></script>
    <script src="~/Scripts/js/modernizr-2.8.3.min.js"></script>
    <!-- =========================
       Preloader
    ============================== -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            "use strict";
            new QueryLoader2(document.querySelector("body"), {
                barColor: "#e64e3e",
                backgroundColor: "#fff",
                percentage: true,
                barHeight: 1,
                minimumTime: 200,
                fadeOutTime: 1000
            });
        });
    </script>
</head> <!-- head -->
<body>
    <div class="container">
        @RenderBody()
    </div>


    <!-- ============== Start footer ============== -->
    <section id="footer">
        @*<div class="color-overlay ptt80">
            <div class="container mtb50">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">

                        <ul class="social-icon-footer list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- //row -->
            </div>
        </div> <!-- //container -->*@
        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-4">
                        <p class="info">
                            &copy; Copyright Persona 2015
                        </p>
                    </div>
                </div> <!-- //row -->
            </div> <!-- //container -->
        </div> <!-- //end copyright -->
    </section>
    <!-- ========= //End footer ========= -->


    <script src="~/Scripts/js/jquery.min.js"></script>

    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <script src="~/Scripts/js/wow.min.js"></script>
    <!-- animation effects -->
    <!-- count-down -->
    <script src="~/Scripts/js/jquery.inview.min.js"></script>

    <script src="~/Scripts/js/jquery.counterup.min.js"></script>

    <!-- content slider -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
   
    <!-- smooth scrool -->
    <script src="~/Scripts/js/smoothscroll.js"></script>
    <!-- custom js -->
    <script src="~/Scripts/js/app.js"></script>
    @RenderSection("scripts", false);

</body>
</html>
