
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Persona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A responsive website template made exclusively by themeum">
    <meta name="author" content="themeum">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/favicons/favicon.ico">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">

    <!-- CSS -->
  
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- Header scripts -->

    <script src="~/Scripts/js/queryloader2.min.js"></script>
    <script src="~/Scripts/js/modernizr-2.8.3.min.js"></script>
    <!-- =========================
       Preloader
    ============================== -->
    <script>
	    window.addEventListener('DOMContentLoaded', function() {
	        "use strict";
	        new QueryLoader2(document.querySelector("body"), {
	            barColor: "#e64e3e",
	            backgroundColor: "#fff",
	            percentage: true,
	            barHeight: 1,
	            minimumTime: 200,
	            fadeOutTime: 1000
	        });
	    });
    </script>
</head> <!-- head -->
<body>
    @RenderBody()
    <!-- ============== start wrapper  ============== -->
    <div id="wrapper">
        <!-- main-nav -->
        <div class="main-nav">
            <div class="logo-left">
                <a href="index.html" class="pull-left">
                    Persona
                                </a>

                <a href="javascript:void(0)" class="menu-trigger">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
           
        </div> <!-- //end main-nav -->
        <!--=========================
            Start area for Menu
        ============================== -->
        <nav class="nav-menu">
            <div class="nav-header overflow">
                <a href="index.html"><img src="~/Content/img/logo-nav.png" class="pull-left" alt="logo"></a>
                <p class="dismiss-button pull-right animated zoomIn">
                    <img src="~/Content/img/dismiss.png" />
                </p>
            </div>
            <ul>
                <li><a href="about.html">About <span class="info animated fadeInRight">We are Jollyany and we make really beautiful and amazing stuff.</span></a></li>
                <li><a href="services.html">Service <span class="info animated fadeInRight">We are Jollyany and we make really beautiful and amazing stuff.</span></a></li>
                <li><a href="portfolio.html">Portfolio <span class="info animated fadeInRight">We are Jollyany and we make really beautiful and amazing stuff.</span></a></li>
                <li><a href="blog.html">Blog <span class="info animated fadeInRight">We are Jollyany and we make really beautiful and amazing stuff.</span></a></li>
                <li><a href="contact.html">Contact <span class="info animated fadeInRight">We are Jollyany and we make really beautiful and amazing stuff.</span></a></li>
            </ul>
        </nav>

        <!-- End of menu area -->
        <!-- ============== start home section  ============== -->
        <section id="home">
            <div id="home-slider" class="carousel slide in" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(../../Content/img/slider/bg.jpg)">
                        
                        <div class="color-overlay">
                            <div class="caption">
                                <p class="slider-logo"><img src="~/Content/img/logo.png"  alt="logo"></p>
                               
                                <h1 class="main-title wow fadeInUp" data-wow-delay=".25s">Go Beyond</h1>
                                <p class="sub-title wow fadeInUp" data-wow-delay=".75s">TEAMWORK AS AN ARTFORM</p>
                            </div>
                        </div>
                    </div><!-- //item -->
                    <div class="item" style="background-image: url(../../Content/img/slider/01.jpg)">
                        <div class="color-overlay">
                            <div class="caption">
                                <p class="slider-logo"><img src="~/Content/img/logo.png" alt="logo"></p>
                                <h1 class="main-title wow fadeInUp" data-wow-delay=".25s">Go Beyond</h1>
                                <p class="sub-title wow fadeInUp" data-wow-delay=".75s">TEAMWORK AS AN ARTFORM</p>
                            </div>
                        </div>
                    </div><!-- //item -->
                    <div class="item" style="background-image: url(../../Content/img/slider/02.jpg)">
                        <div class="color-overlay">
                            <div class="caption">
                                <p class="slider-logo"><img src="~/Content/img/logo.png"  alt="logo"></p>
                                <h1 class="main-title wow fadeInUp" data-wow-delay=".25s">Go Beyond</h1>
                                <p class="sub-title wow fadeInUp" data-wow-delay=".75s">TEAMWORK AS AN ARTFORM</p>
                            </div>
                        </div>
                    </div><!-- //item -->
                </div>
                <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

                <!-- arrow bellow -->
                <a data-scroll id="arrow-bellow" href="#features"><img src="~/Content/img/icon/arrow-bellow.png"  alt="arrow-bellow"></a>
            </div>
        </section>
        <!-- ========= //End home section ========= -->
        <!-- ============== Start features section ============== -->
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 feature-item">
                        <div class="content text-center wow fadeInDown" data-wow-delay=".15s">
                            <p class="icon">
                                <img src="~/Content/img/icon/award.png" alt="img" />
                            </p>
                            <h5 class="title">Top Brands</h5>
                            <p class="info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 feature-item">
                        <div class="content text-center wow fadeInDown" data-wow-delay=".35s">
                            <p class="icon">
                              
                                <img src="~/Content/img/icon/camera.png" alt="img" />
                            </p>
                            <h5 class="title">Great portfolio</h5>
                            <p class="info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </div>
                    </div>
                    <div class="col-md-4 feature-item">
                        <div class="content text-center wow fadeInDown" data-wow-delay=".55s">
                            <p class="icon">
                              <img src="~/Content/img/icon/mobile.png"  alt="img"/>
                            </p>
                            <h5 class="title">FREE SUPPORT &amp; UPDATES</h5>
                            <p class="info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </p>
                        </div>
                    </div>
                </div> <!-- //row -->
            </div> <!-- //container -->
        </section>
        <!-- ========= //End features section ========= -->
        <!-- ============== Start work section ============== -->
        <section id="our-work">
            <div class="container-fluid">
                <h3 class="section-title wow fadeInDown">Our Work</h3>
                <p class="section-info col-sm-6 col-sm-offset-3 wow fadeInDown" data-wow-delay=".25s">
                    Curious? Check out some of our recent projects.
                </p>

                <div class="row">
                    <div class="col-md-4 col-sm-6 work-item">
                        <figure class="content wow fadeIn" data-wow-delay=".15s">
                            <img src="~/Content/img/work/01.jpg" class="img-100p" alt="work">
                   
                            <figcaption class="caption-full-width">
                                <div class="caption horizontal-vertical-center">
                                    <p class="icon animated fadeInDown"><a data-lightbox="lightbox" href="img/work/01.jpg"><img src="img/work/icon.png" alt="icon"></a></p>
                                    <p class="title animated fadeInUp">jerky</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 work-item">
                        <figure class="content wow fadeIn" data-wow-delay=".25s">
                            <img src="img/work/02.jpg" class="img-100p" alt="work">
                            <figcaption class="caption-full-width">
                                <div class="caption horizontal-vertical-center">
                                    <p class="icon animated fadeInDown"><a data-lightbox="lightbox" href="img/work/02.jpg"><img src="img/work/icon.png" alt="icon"></a></p>
                                    <p class="title animated fadeInUp">shoulder</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 work-item">
                        <figure class="content wow fadeIn" data-wow-delay=".35s">
                            <img src="img/work/03.jpg" class="img-100p" alt="work">
                            <figcaption class="caption-full-width">
                                <div class="caption horizontal-vertical-center">
                                    <p class="icon animated fadeInDown"><a data-lightbox="lightbox" href="img/work/03.jpg"><img src="img/work/icon.png" alt="icon"></a></p>
                                    <p class="title animated fadeInUp">kevin</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 work-item">
                        <figure class="content wow fadeIn" data-wow-delay=".45s">
                            <img src="img/work/04.jpg" class="img-100p" alt="work">
                            <figcaption class="caption-full-width">
                                <div class="caption horizontal-vertical-center">
                                    <p class="icon animated fadeInDown"><a data-lightbox="lightbox" href="img/work/04.jpg"><img src="img/work/icon.png" alt="icon"></a></p>
                                    <p class="title animated fadeInUp">fatback</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 work-item">
                        <figure class="content wow fadeIn" data-wow-delay=".55s">
                            <img src="img/work/05.jpg" class="img-100p" alt="work">
                            <figcaption class="caption-full-width">
                                <div class="caption horizontal-vertical-center">
                                    <p class="icon animated fadeInDown"><a data-lightbox="lightbox" href="img/work/05.jpg"><img src="~/Content/img/work/icon.png" alt="icon"></a></p>
                                    <p class="title animated fadeInUp">tongue</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 work-item">
                        <figure class="content wow fadeIn" data-wow-delay=".65s">
                            <img src="img/work/06.jpg" class="img-100p" alt="work">
                            <figcaption class="caption-full-width">
                                <div class="caption horizontal-vertical-center">
                                    <p class="icon animated fadeInDown"><a data-lightbox="lightbox" href="img/work/06.jpg"><img src="~/Content/img/work/icon.png" alt="icon"></a></p>
                                    <p class="title animated fadeInUp">MAGLIT</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div> <!-- // container -->
        </section>
        <!-- ========= //End work section ========= -->
        <!-- ============== Start Our SKILLS ============== -->
        <section id="our-skills">
            <div class="container">
                <h3 class="section-title wow fadeInDown">Our  SKILLS</h3>
                <p class="section-info col-sm-6 col-sm-offset-3 wow fadeInDown" data-wow-delay=".25s">
                    Curious? Check out some of our recent projects
                </p>
                <div class="row mtb100">
                    <div class="col-sm-4 single-skill">
                        <div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <p class="lead">Graphics Design <span class="percentag pull-right">82%</span></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-valuetransitiongoal="82"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 single-skill">
                        <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                            <p class="lead">Web Development <span class="percentag pull-right">76%</span></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-valuetransitiongoal="76"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 single-skill">
                        <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                            <p class="lead">App Development <span class="percentag pull-right">58%</span></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-valuetransitiongoal="58"></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- //row -->
            </div> <!-- //container -->

            <div class="why-kings">
                <div class="placeholder-left"></div>
                <div class="placeholder-right hidden-xs"></div>
                <div class="container">
                    <div class="row">
                        <!-- left part -->
                        <div class="col-sm-6">
                            <div class="left-part ptt80 ptb80">
                                <h3 class="title mtb60">WHY Kings?</h3>
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab">Creative Work</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab">MODERN IDEAS</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab">Experts Vision</a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="tab01">
                                            <p>
                                                Turducken sausage filet mignon strip steak biltong, brisket fatback pork belly kielbasa. Bacon ipsum dolor amet leberkas andouille shankle ham hock pancetta pork belly landjaeger sirloin doner ribeye bresaola beef shoulder cow capicola. Bacon jowl flank capicola picanha sausage. Filet mignon hamburger sausage strip steak. Salami boudin short loin shank, jerky andouille tenderloin flank capicola.
                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab02">
                                            <p>
                                                Filet mignon hamburger sausage strip steak. Salami boudin short loin shank, jerky andouille tenderloin flank capicola. Bacon ipsum dolor amet leberkas andouille shankle ham hock pancetta pork belly landjaeger sirloin doner ribeye bresaola beef shoulder cow capicola. Bacon jowl flank capicola picanha sausage. Turducken sausage filet mignon strip steak biltong, brisket fatback pork belly kielbasa.
                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab03">
                                            <p>
                                                Bacon ipsum dolor amet Bacon jowl flank capicola picanha sausage. Filet mignon hamburger sausage strip steak. Salami boudin short loin shank, jerky andouille tenderloin flank capicola. Turducken sausage filet mignon strip steak biltong, brisket fatback pork belly kielbasa. leberkas andouille shankle ham hock pancetta pork belly landjaeger sirloin doner ribeye bresaola beef shoulder cow capicola.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- // left-part -->
                        <!-- Right part -->
                        <div class="col-sm-6 hidden-xs">
                            <div class="right-part">
                            </div>
                        </div> <!-- //Right part -->
                    </div> <!-- //row -->
                </div>
            </div> <!-- //container -->
        </section>
        <!-- ========= //End Our SKILLS ========= -->
        <!-- ============== Start client section ============== -->
        <section id="our-clients" class="mtb100">
            <div class="container">
                <h3 class="section-title wow fadeInDown">Our Clients</h3>
                <p class="section-info col-sm-6 col-sm-offset-3 wow fadeInDown" data-wow-delay=".25s">
                    Curious? Check out some of our recent projects.
                </p>
                <div class="clearfix"></div>

                <div class="row text-center">
                    <div class="col-md-3 col-sm-6 each-client"><a href="#"><img src="~/Content/img/clients/1.png" alt="client"></a></div>
                    <div class="col-md-3 col-sm-6 each-client"><a href="#"><img  src="~/Content/img/clients/2.png"alt="client"></a></div>
                    <div class="col-md-3 col-sm-6 each-client"><a href="#"><img  src="~/Content/img/clients/3.png" alt="client"></a></div>
                    <div class="col-md-3 col-sm-6 each-client"><a href="#"><img  src="~/Content/img/clients/4.png" alt="client"></a></div>
                </div> <!-- //row -->
            </div> <!-- //container -->
        </section>
        <!-- ========= //End client section ========= -->
        <!-- ============== Start count-down ============== -->
        <section id="count-down" class="text-center">
            <div class="color-overlay ptt100 ptb100">
                <div class="container">
                    <div class="row">
                        <div class="counter-content">
                            <div class="col-sm-4 each-counter wow zoomIn">
                                <p class="icon">
                                    <img src="~/Content/img/icon/clients.png" alt="img">
                                </p>
                                <span class="counter count1">8637</span>
                                <p class="title">Clients</p>
                                <p class="info">
                                    Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante.
                                </p>
                            </div>
                            <div class="col-sm-4 each-counter wow zoomIn">
                                <p class="icon">
                                    <img  src="~/Content/img/icon/projects.png" alt="img">
                                </p>
                                <span class="counter count2">564</span>
                                <p class="title">Project</p>
                                <p class="info">
                                    Nullam quis ante. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.
                                </p>
                            </div>
                            <div class="col-sm-4 each-counter wow zoomIn">
                                <p class="icon">
                                    <img  src="~/Content/img/icon/deliveries.png" alt="img">
                                </p>
                                <span class="counter count3">564</span>
                                <p class="title">Deliveries</p>
                                <p class="info">
                                    Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante. Donec vitae sapien ut libero ace venenatis faucibus. Maecenas nec odio et ante tincidunt tempus.  Nullam quis ante.
                                </p>
                            </div>
                        </div>
                    </div> <!-- //row -->
                </div> <!-- //container -->
            </div>
        </section>
        <!-- ========= //End count-down ========= -->
        <!-- ============== Start about info ============== -->
        <section id="about-info" class="text-center ptt100 ptb80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 each-part wow zoomIn">
                        <p class="icon">
                            <img  src="~/Content/img/icon/custom-care.png">
                        </p>
                        <p class="title">CUSTOMER CARE</p>
                        <p class="info">
                            8654-32-9600
                        </p>
                    </div>
                    <div class="col-sm-3 each-part wow zoomIn">
                        <p class="icon">
                            <img  src="~/Content/img/icon/mail-info.png" alt="img">
                        </p>
                        <p class="title">MAIL INFO</p>
                        <p class="info">
                            info@Blinker.com
                        </p>
                    </div>
                    <div class="col-sm-3 each-part wow zoomIn">
                        <p class="icon">
                            <img src="img/icon/work-time.png" alt="img">
                        </p>
                        <p class="title">Work Time</p>
                        <p class="info">
                            Mon. - Fri. (10:00 - 22:00)
                        </p>
                    </div>
                    <div class="col-sm-3 each-part wow zoomIn">
                        <p class="icon">
                            <img src="img/icon/work-place.png" alt="img">
                        </p>
                        <p class="title">Work Place</p>
                        <p class="info">
                            19th Ave New York <br>
                            <small>NY 95822, USA</small>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========= //End about info ========= -->
        <!-- ============== Start twitter section ============== -->
        <section id="twitter">
            <div>
                <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="twitter-icon text-center hidden-sm hidden-xs">
                                <p>
                                    <img src="img/icon/twitter.png" alt="twitter" class="img-100p">
                                </p>
                            </div>
                            <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                                        <p class="info">Check out 'Kings multipurpose html template' on #Shapebootstrap</p>
                                        @*<p class="link"> by <span>@themeum</span><a href="#"> #Shapebootstrap http://tllg.net/8szMvf5t</a></p>*@
                                    </div>
                                    <div class="item">
                                        <p class="info">Check out 'Kings multipurpose html template' on #Shapebootstrap</p>
                                        @*<p class="link"> by <span>@themeum</span><a href="#"> #Shapebootstrap http://tllg.net/8szMvf5t</a></p>*@
                                    </div>
                                    <div class="item">
                                        <p class="info">Check out 'Kings multipurpose html template' on #Shapebootstrap</p>
                                        @*<p class="link"> by <span>@themeum</span><a href="#"> #Shapebootstrap http://tllg.net/8szMvf5t</a></p>*@
                                    </div>
                            </div>
                        </div> <!-- //twitter-carousel -->
                    </div>
                </div> <!-- //row -->
            </div> <!-- //container -->
    </div>
    </section>
    <!-- ========= //End twitter section ========= -->
    <!-- ============== Start footer ============== -->
    <section id="footer">
        <div class="color-overlay ptt80">
            <div class="container mtb50">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <p class="footer-logo mtb30"><img src="~/Content/img/logo-footer.png"  alt="logo"></p>
                       
                        <ul class="nav-footer list-inline mtb30">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="social-icon-footer list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- //row -->
            </div>
        </div> <!-- //container -->
        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-4">
                        <p class="info">
                            &copy; Copyright Persona 2015.  
                        </p>
                    </div>
                </div> <!-- //row -->
            </div> <!-- //container -->
        </div> <!-- //end copyright -->
    </section>
    <!-- ========= //End footer ========= -->
    </div> <!-- //end wrapper -->

    <script src="~/Scripts/js/jquery.min.js"></script>

    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <script src="~/Scripts/js/wow.min.js"></script>
    <!-- animation effects -->
    <!-- count-down -->
    <script src="~/Scripts/js/jquery.inview.min.js"></script>

    <script src="~/Scripts/js/jquery.counterup.min.js"></script>

    <!-- content slider -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <!-- lightbox -->
    <script src="~/Scripts/js/lightbox.min.js"></script>
    <!-- smooth scrool -->
    <script src="~/Scripts/js/smoothscroll.js"></script>
    <!-- custom js -->
    <script src="~/Scripts/js/app.js"></script>

</body>
</html>
